.circleci
.vs/**/*
.vscode

temp

.eslintignore
.eslintrc.js
.markdownlint.json

*.sh
*.ps1

用于研发阶段的命令行工具

*.html
# 为了安装后的自动化脚本正常运转，必须保留英文说明书。因此不能草率的排除整个“文档”文件夹。
# 文档
./文档/**/*.html

测试集
